/* Styles for Card.jsx */
.card {
  border: 1px solid #000000;
  border-radius: 16px;
  box-shadow:rgba(248, 248, 248, 0.1) 0px 4px 4px;
  width: 300px;
  /* Fixed width for a card */
  padding: 24px;
  background-color: #ffffff;
  margin: 16px;
  /* Space between cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --- HEADER --- */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}
.read-more{
  font-weight: bold;
  color: #1a237e;
}
.card-title-rating h3 {
  margin: 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 700;
  max-width: 200px;
  /* Stop title from pushing logo */
}

.card-rating {
  font-size: 0.9rem;
  color: #666;
  font-weight: 500;
}

.bank-logo {
  width: 50px;
  height: auto;
}

/* --- BODY --- */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body .card-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;

}

.card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* keeps image ratio, no stretch */

}

.card-wrapper:hover {
  transform: translateY(-5px);
}

/* Sparkle effect layer */
.card-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  opacity: 0;
}

.card-wrapper:hover::after {
  opacity: 1;
  animation: sparkleMove 0.8s ease forwards;
}

@keyframes sparkleMove {
  0% {
    left: -75%;
  }

  100% {
    left: 125%;
  }
}

/* Optional: prevent layout shift while loading */
.card-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


.card-body p {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
  text-align: left;
}

/* --- FOOTER --- */
.card-footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.annual-fee {
  display: flex;
  flex-direction: column;
}

.annual-fee span {
  font-size: 0.8rem;
  color: #666;
}

.annual-fee strong {
  font-size: 1rem;
  color: #000;
}

.apply-button {
  background-color: #2c2c2c;
  /* Dark blue from your screenshot */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.apply-button:hover {
  background-color: #283593;
}