/* CustomCursor.css */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.25);

  border: 2px solid #ffffff; 
  border-radius: 50%;
  pointer-events: none; /* important so it doesn’t block clicks */
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.15s ease;
  z-index: 9999;
}

.custom-cursor.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
