.video-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: fixed;
}

.intro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}