.main-header{
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.h-content{
    background-color: rgb(51, 50, 50);
    padding:0 10px ;
    border-radius: 8px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-content .h-logo{
    font-family:  "Bonheur Royale", cursive;
    font-style: normal;
    color: inherit;
    font-weight: 400;
    font-size: 2rem;
}
.navs a{
    font-size: 14px;
    color: white;
}
.h-logo a{
    text-decoration: none;
    color: white;
}